/Example_Data
Backend/venv
Backend/__pycache__
Backend/Uploaded_Data
Frontend/node_modules
.DS_Store
Python/skin_TXK6Z4X_A1
Python/skin_TXK6Z4X_D1
Python/H1-TXK6Z4X-A1_SK24-001_A1-4-003.tiff
Python/H1-TXK6Z4X-D1_SK24-001_A1-5-004.tiff
Python/roi_check_outputs